@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic");
 body {
	 padding: 0;
	 margin: 0;
	 justify-content: center;
	 align-items: center;
	 background-color: #353535;
	 font-family: 'Roboto', sans-serif;
	 font-size: 15px;
}
 a {
	 text-decoration: none;
}
 #white {
	 background-color: white;
}
 li {
	 list-style: none;
}
 canvas {
	 height: 100%;
	 position: absolute;
	 width: 100%;
	 z-index: 0;
	 position: fixed;
}
 h1, h2, h3, h4, h5, h6 {
	 margin: 0;
}
 ul {
	 margin: 0;
	 padding: 0;
}


 #mainBlock {
	 display: flex;
	 max-width: 100%;
	 justify-content: center;
	 text-align: center;
	 margin-right: 0;
}

 
 .content {
	 padding: 20px;
	 color: #c5c5c5;
	 border-color: #4e4e4e;
	 border-style: solid;
	 border-radius: 25px;
	 border-width: 1px;
	 background: #232323;
	 margin: 20px;
	 box-shadow: 4px 4px 9px -5px rgba(76, 76, 76, 0.76);
	 min-height: 135px;
	 z-index: 20;
}
 .content a {
	 color: #fff;
}

 #drop {
	 height: 250px;
	 width: 400px;
	 margin-top: 65px;
	 background-color: #232323;
	 color: #ddd;
	 border-width: 1px;
	 border-color: #4e4e4e;
	 border-style: solid;
	 border-radius: 25px;
	 margin-bottom: 60px;
	 z-index: 20;
}
 .down {
	 display: flex;
}
 .tex {
	 padding-top: 10px;
}
 #drop.dragover {
	 background-color: #fff;
}
 .files {
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	 grid-gap: 10px;
}
 .downloadPic {
	 width: 25px;
	 height: 25px;
	 filter: brightness(0) invert(1);
}
 .downloadBox {
	 margin-left: auto;
	 padding-top: 10px;
}
